.formWrap {
  padding: 16px;
  background: #fff;
  border: 1px solid #d1d5dc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.formRowWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formWrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  font-size: 15px;
  background: #ef6c00;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  outline: none;
}
.formWrap button:disabled {
  background: #cdcdcd;
  color: #9a9a9a;
}

.massageWrap {
  display: flex;
  gap: 8px;
}

/* Input */
.formInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.label {
  font-size: 12px;
  font-weight: 500;
  color: #888;
}

.formInput input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #d1d5dc;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
}

.formInput input:focus {
  border-color: #ef6c00;
}

.formInput input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12px;
}

.helper {
  font-size: 11px;
  font-weight: 500;
  color: #888;
}
.helperError {
  color: #fb2c36;
}
