.widgetRoot {
  all: initial;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.widgetRoot * {
  box-sizing: border-box;
}

.floatingButton {
  all: unset;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 24px;
  background: #ef6c00;
  display: flex;
  border: 1px solid #f7f7f7;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeButton {
  all: unset;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeButton img {
  width: 24px;
}

.chatWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 96px;
  right: 24px;
  width: 360px;
  height: 520px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  border: 2px solid #ededed;
  overflow: hidden;
}

.header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
}

.widgetContent {
  flex: 1;
  height: calc(100% - 56px);
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
}

.widgetNodata {
  padding: 16px;
  padding-bottom: 36px;
  font-size: 14px;
  color: #888;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chatList {
  padding: 8px 16px;
  overflow-y: auto;
  flex: 1;
}
.chatListReverse {
  display: flex;
  flex-direction: column-reverse;
}
.loadingArea p {
  padding: 16px;
  font-size: 13px;
  color: #888;
  text-align: center;
}
@keyframes fadeInUp {
  from {
    opacity: 0;

    transform: translateY(10px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}
.bubble {
  animation: fadeInUp 0.5s ease-out forwards;
}
@media (max-width: 768px) {
  .chatWindow {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100dvh - 64px);
    border-radius: 12px 12px 0 0;
    z-index: 10;
  }
}
