.widgetRoot {
  all: initial;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.widgetRoot * {
  box-sizing: border-box;
}

.floatingButton {
  all: unset;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  border-radius: 24px;
  background: #ef6c00;
  display: flex;
  border: 1px solid #f7f7f7;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeButton {
  all: unset;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeButton img {
  width: 24px;
}

.chatWindow {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 96px;
  right: 24px;
  width: 360px;
  height: 520px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  border: 1px solid #ededed;
}

.header {
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ededed;
}
@media (max-width: 768px) {
  .chatWindow {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100dvh - 64px);
    border-radius: 12px 12px 0 0;
    z-index: 10;
  }
}
